@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
</p>

<p>
  @Html.ActionLink("Open Person List", "Index", "Person")
</p>

<p>
  @Html.ActionLink("registry page", "Index", "Gift")
</p>

<p>
  @Html.ActionLink("ranks", "Index", "Rank")
</p>


<p>
  @Html.ActionLink("categories", "Index", "Category")
</p>

<p>
  @Html.ActionLink("money", "Index", "Money")
</p>


<p>
  @Html.ActionLink("store", "Index", "Store")
</p>


<p>
  @Html.ActionLink("person", "Index", "Person")
</p>


<p>
  @Html.ActionLink("group", "Index", "Group")
</p